body{
    margin: 0px;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
}
.nav-wrapper {
    display: flex;
    padding: 38px;
    justify-content: space-between;
}
.leftside {
    display: flex;
    
}

.nav-wrapper >.leftside > div{
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9em;
    
}
.nav-link-wrapper {
    border-bottom: 1px solid transparent;
    height: 22px;
    transition:  border-bottom 0.5s;
    
} 
.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration-line: none;
    transition: color 0.5s;
}   
.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
    height: 22px;
}

.nav-link-wrapper a:hover {
    color: black;
}
.active-nav-link {
    border-bottom: 1px solid black;
}
.active-nav-link a {
    color: black !important;
}

.brand {
    text-transform: uppercase;
}
/* portfolio styles */
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.portfolio-item-wrapper{
    position: relative;
}
.port-folio-img-background {
    background-size: cover;
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    gap: 20px;
}
.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    
}
.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;

}
/* Needs to be more specific with selector */
.img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
    font-weight: 600;
}
.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
} 
/* aboutus */
.two-column-wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.profile-image-wrapper img {
    width: 100%;
    height: 950px;
}
.profile-content-wrapper {
    padding: 30px;
}
.profile-content-wrapper h1 {
    color: lightseagreen;
    text-transform: capitalize;}
